#movies {
    max-width: 70rem;
    list-style: none;
    margin: 1rem auto;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 10rem));
    gap: 1rem;
  }