.main-header {
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    gap: 1rem;
    max-height: 4rem;
    z-index: 100;
  }
  
  .main-header .header-logo {
    display: inline-flex;
    width: 25%;
    align-items: center;
    justify-content: center;
  }
  
  .main-header .header-logo img {
    display: inline-flex;
    height: 3rem;
    object-fit: contain;
    margin: 0.5rem;
  }
  
  .main-header .header-main {
    display: inline-flex;
    width: 50%;
    align-items: center;
    justify-content: flex-start;
  }
  
  .main-header .header-right {
    display: inline-flex;
    width: 25%;
  }