@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Lato:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #00d7ff;
  min-height: 100vh;
}

.page-title h1 {
  display: flex;
  text-align: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

#movies {
  max-width: 70rem;
  list-style: none;
  margin: 1rem auto;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 10rem));
  gap: 1rem;
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .page-title {
    display: flex;
    max-width: 850px;
    margin: 1rem auto;
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 992px) {
  .page-title {
    display: flex;
    max-width: 952px;
    margin: 1rem auto;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .page-title {
    display: flex;
    max-width: 700px;
    margin: 1rem auto;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .page-title {
    display: flex;
    max-width: 450px;
    margin: 1rem auto;
    font-size: 1rem;
  }
}
